{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1 class="mb-4">{{ title }}</h1>
<form method="post" class="row g-3">
    {% csrf_token %}

    <div class="col-md-3">
        {{ form.participante.label_tag }}
        {{ form.participante }}
    </div>
    <div class="col-md-3">
        {{ form.evento.label_tag }}
        {{ form.evento }}
    </div>
    <div class="col-md-3">
        {{ form.data_vencimento.label_tag }}
        {{ form.data_vencimento }}
    </div>
    <div class="col-md-3">
        {{ form.valor.label_tag }}
        {{ form.valor }}
    </div>
    <div class="col-md-3">
        {{ form.iptu.label_tag }}
        {{ form.iptu }}
    </div>
    <div class="col-md-3">
        {{ form.taxa_incendio.label_tag }}
        {{ form.taxa_incendio }}
    </div>
    <div class="col-md-3">
        {{ form.condominio.label_tag }}
        {{ form.condominio }}
    </div>
    <div class="col-md-3">
        {{ form.outras_taxas.label_tag }}
        {{ form.outras_taxas }}
    </div>
    <div class="col-md-3">
        {{ form.pago.label_tag }}
        {{ form.pago }}
    </div>

    {% if form.errors %}
    <div class="alert alert-danger">
        <ul>
            {% for field in form %}
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="{% url 'listar_inscricoes' %}" class="btn btg-large btn-secondary">Cancelar</a>
    </div>
</form>
{% endblock %}
{% block extra_js %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const eventoSelect = document.getElementById('{{ form.evento.id_for_label }}');
        const valorInscricaoInput = document.getElementById('{{ form.valor.id_for_label }}');
        const materialInput = document.getElementById('{{ form.material.id_for_label }}');
        const almocoInput = document.getElementById('{{ form.taxa_almoco.id_for_label }}');
        const certificadoInput = document.getElementById('{{ form.certificado.id_for_label }}');
        const outrasTaxasInput = document.getElementById('{{ form.outras_taxas.id_for_label }}');

        // Define o valor inicial da inscrição base para o modo de edição
        let valorInscricaoBase = parseFloat('{{ valor_inscrição|default:"0.0" }}');

        // Função para atualizar o valor da inscrição base ao selecionar um evento
        function atualizarValorInscricaoBase() {
            const eventoId = eventoSelect.value;
            if (eventoId) {
                fetch(`/eventos/valor_inscricao/${eventoId}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.valor_inscricao) {
                            valorAluguelBase = parseFloat(data.valor_inscricao) || 0;
                            calcularValorFinal();
                        } else {
                            alert('Erro ao obter o valor da inscrição.');
                        }
                    })
                    .catch(error => console.error('Erro na requisição:', error));
            } else {
                valorInscricaoBase = 0;
                calcularValorFinal();
            }
        }

        function calcularValorFinal() {
            const material = parseFloat(materialInput.value) || 0;
            const almoco = parseFloat(almocoInput.value) || 0;
            const certificado = parseFloat(certificadoInput.value) || 0;
            const outrasTaxas = parseFloat(outrasTaxasInput.value) || 0;

            const valorFinal = valorInscricaoBase + material + almoco + certificado + outrasTaxas;
            valorAluguelInput.value = valorFinal.toFixed(2);
        }

        // Evento de mudança para atualizar o valor da inscrição ao selecionar um evento
        eventoSelect.addEventListener('change', atualizarValorInscricaoBase);

        // Adiciona o evento de escuta para cada taxa
        [materialInput, almocoInput, certificadoInput, outrasTaxasInput].forEach(input => {
            input.addEventListener('input', calcularValorFinal);
        });

        // Calcula o valor inicial ao carregar a página
        calcularValorFinal();
    });
</script>
{% endblock %}